<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cc.bitky.warningsystem">

    <!--获取设备网络状态，禁用后无法获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--网络权限，当禁用后，无法进行检索等相关业务-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--读取设备硬件信息，统计数据-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--读取系统信息，包含系统版本等信息，用作统计-->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <!--允许sd卡写权限，需写入地图数据，禁用后无法显示地图-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--获取统计数据-->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!--鉴权所需该权限获取进程列表-->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!--使用步行AR导航，配置Camera权限-->
    <uses-permission android:name="android.permission.CAMERA" />


    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <application
        android:name=".BitkyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="你的 KEY" />

        <activity android:name=".category.CategoryActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".trial.TrialActivity" />
        <activity android:name=".controlview.NodeControlActivity" />
        <activity android:name=".trial.control.DetailActivity" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
    </application>

</manifest>